body{
    margin: 0px;
}

.content-left{
    width: 430px;
    height: calc(100vh - 48px);
    border-right: 1px solid #bbbbbb;
    background-color: #99f3fa;
}

.content-left .header-content-left{
    height: 30px;
    padding: 12px 16px;
    font-size: 25px;
    text-align: center;
    border-bottom: 1px solid #bbbbbb;
}

.status{
    height: 150px;
    width: 100%;
    margin: 12px 16px;
    vertical-align: middle;
    text-align: left;
    align-items: center;
}

.status table{
    border-collapse: collapse;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    width: 400px;
}

.status th, td{
    height: 30px;
    font-style: bold;
    padding: 4px 10px;
    text-align: center;
}

.status th{
    background-color: #ea6153;
    color: #fff;
}

.status td{
    background-color: #bbbbbb;
}

.status td button{
    height: 30px;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}

.status td button:hover{
    border: 1px solid #019160;
}

.content-right{
    position: absolute;
    top: 49px;
    left: 431px;
}

#control .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}
.item {
    height: 200px;
    width: 200px;
    margin-right: 50px;
    background-color: #99f3fa;
    border-radius: 40px;
    cursor: pointer;
    text-decoration: none;
}

.item .item-text {
    text-decoration: none;
    color: #000;
    text-align: center;
    padding-top: 80px;
    font-size: large;
}
